{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>.login</title>
    <link rel="icon" href="https://static.planetminecraft.com/files/avatar/97925.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_login_signup.css' %}">
</head>

<body>

    <div class="container">
        <div class="input-login">
            <div class="logo">
                <a href="{% url 'home-page' %}"><h1>.s</h1></a>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="container-data"><input type="text" placeholder="Username" name="usr" required><br>
                </div>
                <div class="container-data"><input type="password" placeholder="Password" name="pass" required><br>
                </div>
                {% if not existing_customer%}
                    <div class="not-customer">that's not a customer ;((( try again</div>
                {% endif %}
                <div class="container-button"><input type="submit" value="LOG IN"></div>
            </form>
            <p>don't have an account?<a href="{% url 'signup-page' %}"> sing-up</a></p>
        </div>
    </div>
</body>

</html>