{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.s</title>
    <link rel="icon" href="https://static.planetminecraft.com/files/avatar/97925.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c86366431f.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style_user_info.css' %}">

</head>
<body>
<div class="page-wrapper">
    <header class="page-header">
        <div class="left-side-header">
            <div class="menu"><a href="#"><i class="fa-solid fa-bars fa-lg"></i></a>
            </div>
            <div class="logo"><a href="{% url 'home-page' %}"><i class="fa-solid fa-skull fa-xl"></i></a></div>
        </div>
        <div class="right-side-header">
            <div class="search">
                <input type="text" class="input-search">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <div class="shopping-bag"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></div>
            <div class="profile"><a href="{% url 'signup-page' %}"><i class="fa-solid fa-user"></i></a></div>
        </div>
    </header>
    <div class="user-info-container">
        <div class="username-container">
            <div class="username">.{{ username }}</div>
            <form method="POST">
                {% csrf_token %}
                <span class="log-out"><button>LOG OUT</button></span>
            </form>
        </div>
    </div>
    <div class="orders-container">
        <div class="column-names">
            <div class="trans-id-text">NR.</div>
            <div class="trans-complete-text">COMPLETE</div>
            <div class="total-price-text">TOTAL</div>
        </div>
        {% for order in orders %}
            <div class="order-transaction">
                <div class="trans-id">{{ order.0.transaction_id }}</div>
                {% if order.0.complete %}
                    <div class="trans-complete yes">RECEIVED</div>
                {% else %}
                    <div class="trans-complete no">IN WORK</div>
                {% endif %}
                <div class="trans-total-price">{{ order.0.total_price }}</div>
            </div>
            <div class="order-products">
                {% for order_item in order.1 %}
                    <div class="order-details">
                        <div class="grid-cell">{{ order_item.product }}</div>
                        <div class="grid-cell">{{ order_item.product.size }}</div>
                        <div class="grid-cell">{{ order_item.date_added }}</div>
                        <div class="grid-cell">{{ order_item.product.price }}</div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
    <div class="side-bar-container">
        <ul class="side-bar">
            {% for cat in category_choices %}
                <li><a href="{% url 'items-page' category=cat %}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>