{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.s</title>
    <link rel="icon" href="https://static.planetminecraft.com/files/avatar/97925.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c86366431f.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style_items.css' %}">

</head>
<body>
<div class="page-wrapper">
    <header class="page-header">
        <div class="left-side-header">
            <div class="menu"><a href="#"><i class="fa-solid fa-bars fa-lg"></i></a>
            </div>
            <div class="logo"><a href="{% url 'home-page' %}"><i class="fa-solid fa-skull fa-xl"></i></a></div>
        </div>
        <div class="right-side-header">
            <div class="search">
                <input type="text" class="input-search">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <div class="shopping-bag"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></div>
            <div class="profile"><a href="{% url 'signup-page' %}"><i class="fa-solid fa-user"></i></a></div>
        </div>
    </header>
    <div class="items-row">
        {% for product in products %}
            <div class="item-content">
                <div class="product-tumb">
                    <img src="" alt="">
                </div>
                <div class="product-details">
                    <h4><a href="">{{ product.name }}</a></h4>
                    <p>{{ product.description }}</p>
                    <div class="product-bottom-details">
                        <div class="product-price">${{ product.price }}</div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="side-bar-container">
        <ul class="side-bar">
            {% for cat in category_choices %}
                <li><a href="{% url 'items-page' category=cat %}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
</body>
</html>