{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.s</title>
    <link rel="icon" href="https://static.planetminecraft.com/files/avatar/97925.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c86366431f.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}

</head>
<body>
<div class="page-wrapper">
    <header class="page-header">
        <div class="left-side-header">
            <div class="menu"><a href="#"><i class="fa-solid fa-bars fa-lg"></i></a>
            </div>
            <div class="logo"><a href="{% url 'home-page' %}"><i class="fa-solid fa-fish-fins fa-flip-vertical fa-xl"></i></a></div>
        </div>
        <div class="right-side-header">
            <div class="shopping-bag"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></div>
            {% if not authenticated %}
                <div class="profile"><a href="{% url 'login-page' %}"><i class="fa-solid fa-user"></i></a></div>
            {% else %}
                <div class="profile"><a href="{% url 'user-account-page' %}"><i class="fa-solid fa-user"></i></a></div>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <div class="side-bar-container">
        <ul class="side-bar">
            {% for cat in category_choices %}
                <li><a href="{% url 'items-page' category=cat %}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>