{% extends "base/base.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/show_filter.js' %}"></script>
{% endblock script %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_items.css' %}">
{% endblock style %}

{% block content %}
    <div class="filters-container">
        <form method="post">
            {% csrf_token %}
            <div class="filter-buttons">
                {% for filter in filters %}
                    <div data-target="{{ filter.lower }}-option">{{ filter }}</div>
                {% endfor %}
                <div onclick="submitForm()">
                    <i class="fa-solid fa-angles-right" style="color: #000000;"></i>
                </div>
            </div>
            <div class="size-option options">
                {% for size in size_choices %}
                    <div id="op-size">
                        <input type="checkbox" id="{{ size }}" name="size" value="{{ size }}"
                               {% if size in selected_size_filter %}checked{% endif %}>
                        <label for="{{ size }}">{{ size }}</label><br>
                    </div>
                {% endfor %}
            </div>
            <div class="color-option options">
                {% for color in color_choices %}
                    <div id="op-color">
                        <input type="checkbox" id="{{ color }}" name="color" value="{{ color }}"
                               {% if color in selected_color_filter %}checked{% endif %}>
                        <label for="{{ color }}">{{ color }}</label><br>
                    </div>
                {% endfor %}
            </div>
            <div class="price-option options">
                <div class="min-bound">
                    <label for="min_price">min</label>
                    <input type="number" id="min_price" name="min_price" value="{{ selected_min_price_filter }}">
                </div>
                <div class="max-bound">
                    <label for="max_price">max</label>
                    <input type="number" id="max_price" name="max_price" value="{{ selected_max_price_filter }}">
                </div>
            </div>
        </form>
    </div>
    {% if products %}
        <div class="items-row">
            {% for product in products %}
                <div class="item-content">
                    <a id="item-link" href="{% url 'product-page' prod_name=product.name prod_id=product.id %}">
                        <div class="product-tumb">
                            {% if product.image %}
                                <img src="/images/{{ product.image }}" alt="img-product">
                            {% endif %}
                        </div>
                        <div class="product-details">
                            <h4>{{ product.name }}</h4>
                            <div class="product-bottom-details">
                                <div class="product-price">${{ product.price }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh;">
            <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHZvN3lyMzZvbWJ4N3owcnF4enliaXgwZDJsZWpuYzAzYXFha29reCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26hkhPJ5hmdD87HYA/giphy.gif"
                 style="width: 380px; height: 380px; margin-bottom: 20px;">
            <p style="font-size: 30px; color: #555;">.empty...</p>
        </div>
    {% endif %}
{% endblock content %}

</div>
</body>
</html>