{% extends "base/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_product.css' %}">
{% endblock style %}

{% block content %}
    <div class="product-content">
        <div class="p-image">
            {% if product.image %}
                <img src="/images/{{ product.image }}" alt="img-product">
            {% endif %}
        </div>
        <div class="p-attributes">
            <div class="p-name">{{ product.name.upper }}</div>
            {% if product.amount %}
                <div class="p-in-stock">IN STOCK</div>
            {% else %}
                <div class="p-out-of-stock">OUT OF STOCK</div>
            {% endif %}
            <div class="p-available-sizes">
                <div class="size-size-x">SIZES</div>
                <form>
                    {% for size in available_sizes %}
                        <div class="inp-att">
                            <input type="radio" id="size-id" name="p-size-{{ size.lower }}" value="{{ size.size }}">
                            <label for="{{ size.size }}">{{ size.size }}</label><br>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="p-available-colors">
                <div class="color-color-x">COLORS</div>
                <form>
                    {% for color in available_colors %}
                        <div class="inp-att">
                            <input type="radio" id="color-{{ color.lower }}" name="p-color-{{ color.lower }}"
                                   value="{{ color.color }}">
                            <label for="{{ color.color }}">{{ color.color }}</label><br>
                        </div>
                    {% endfor %}
                    <button type="submit">ADD TO BAG</button>
                </form>
            </div>
            <div class="p-description">
                {{ product.description }}
            </div>
        </div>
    </div>
{% endblock content %}

</div>
</body>
</html>