/* Resetting default styles */
* {
    padding: 0;
    margin: 0;
}

/* Setting up the background */
html, body {
    margin: 0;
    height: 100%;
}


/* Styling the page header */
.page-header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 5px black;
}

.right-side-header,
.left-side-header {
    display: inline-block;
    margin: 0 15px;

    & div {
        display: inline-block;
        margin: 8px;
    }
}

.right-side-header {
    position: absolute;
    right: 0;
}

/* Styling icon colors */
i {
    color: #333333;
}

.fa-regular.fa-heart.fa-lg,
.fa-solid.fa-heart.fa-lg {
    color: #ffffff;
}

/* Styling the search bar */
.search {
    background-color: #d7d7d7;
    display: inline-flex;
    flex: 1 1 300px;
    border: 0 solid;
    padding: 4px 10px 4px 4px;
}

.input-search {
    width: 350px;
    background-color: #d7d7d7;
    border: none;
    padding: 5px 0 5px 15px;
    margin-right: 15px;

}

.input-search:focus {
    outline: none;
}


/* Styling the side bar */
.side-bar-container {
    background-color: #151515;
    position: absolute;
    margin: 0 !important;
    left: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    padding: 10px;
    transition: transform 0.3s ease;

}

.side-bar {

    margin-top: 50px;
    list-style: none;

    & li {
        font-family: 'Roboto', sans-serif;
        margin: 10px 0 0 15px;

        & a {
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
            text-decoration: none;
            transition: 0.3s;
            padding: 2px;
        }

        & a:hover {
            color: #151515;
            transition: 0.3s;
            background-color: #f0f0f0;
        }
    }
}

.user-info-container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;

    .username-container {

        & a {
            text-decoration: none;
            float: left;
            .admin{
                font-family: 'Arial', 'serif';
                font-size: 15px;
                border: 2px black solid;
                font-weight: 800;
                color: white;
                background-color: #4d8cff;
                padding: 7px 8px;
                box-shadow: 5px 5px grey;
                cursor: pointer;
            }
        }

        .username {

            font-weight: bold;
            font-size: 70px;
        }

        .log-out {
            float: right;
            font-family: 'Roboto', sans-serif;
            & button {
                font-size: 15px;
                font-weight: 800;
                color: white;
                background-color: #ff0054;
                padding: 7px 8px;
                box-shadow: 5px 5px grey;
                cursor: pointer;

            }

        }
    }
}

.orders-container {
    font-family: 'Roboto', sans-serif;
    margin: 70px 40px 0 40px;
    padding-bottom: 100px;


    .no-orders {
        margin-top: 20px;
    }

    .orders-text {
        font-weight: 500 italic;
        font-size: 21px;
        margin-bottom: 15px;
        font-style: italic;

    }

    .dash-line {
        border-bottom: 5px black dashed;
    }

    .order-trans-prod-container {
        margin-top: 40px;
        box-shadow: -5px -5px #a1a1a1;

        .order-transaction {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            background-color: #e5e5e5;

            .trans-complete {
                padding: 7px 4px 7px 10px;

                &.yes {
                    color: #16db65;
                }

                &.no {
                    color: #ff0054;
                }

                border-right: 1px solid black;
                border-bottom: 3px solid grey;
            }

            .trans-id, .trans-total-price {
                padding: 7px 4px 4px 10px;
                border-right: 3px solid grey;
                border-bottom: 3px solid grey;
            }

        }

        .order-products {
            border-top: 1px solid black;
            border-right: 3px solid grey;
            border-bottom: 3px solid grey;
            margin-top: 3px;
            box-shadow: 0 -3px #262626;

            .order-details {
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));

                .grid-cell {
                    padding: 7px 4px 7px 10px;
                    border-bottom: 3px solid grey;
                    border-left: 1px solid black;
                }
            }
        }
    }

    .column-names {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        background-color: #d2d2d2;
        margin-bottom: 10px;
        border-bottom: 3px solid grey;
        box-shadow: -5px -5px #a1a1a1;

        .trans-id-text,
        .trans-complete-text,
        .trans-total-price-text {
            padding: 7px 4px 7px 10px;
            border-right: 3px solid grey;
        }
    }
}

