/* Resetting default styles */
* {
    padding: 0;
    margin: 0;
}

/* Setting up the background */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: url("https://mensflair.com/wp-content/uploads/2022/07/90s-mens-fashion-2.jpg") center/cover no-repeat;
}

/* Styling the page header */
.page-header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: #FFFFFF;
}

.right-side-header, .left-side-header {
    display: inline-block;
    margin: 0 15px;
}

.right-side-header div, .left-side-header div {
    display: inline-block;
    margin: 8px;
}

.right-side-header {
    position: absolute;
    right: 0;
}

/* Styling thumbnail photos container */
.thr-photos {
    display: flex;
    justify-content: center;
}

/* Styling the bottom squares for a carousel, assuming slick is used */
.slick-squares {
    list-style: none;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 5%;
    width: 100%;
}

.slick-squares li {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    margin-left: 5px;
}

/* Setting up responsive images */
img {
    width: 100%;
    height: auto;
}

/* Styling icon colors */
i {
    color: #333333;
}

.fa-regular.fa-heart.fa-lg,
.fa-solid.fa-heart.fa-lg {
    color: #ffffff;
}

/* Styling the search bar */
.search {
    background-color: #d7d7d7;
    display: inline-flex;
    flex: 1 1 300px;
    border: 0 solid;
    padding: 4px 10px 4px 4px;
}

.input-search {
    width: 350px;
    background-color: #d7d7d7;
    border: none;
    padding: 5px 0 5px 15px;
    margin-right: 15px;
}

.input-search:focus {
    outline: none;
}

/* Styling the side bar */
.side-bar-container {
    background-color: #151515;
    position: absolute;
    margin: 0 !important;
    left: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    padding: 10px;
    transition: transform 0.3s ease;

}

.side-bar{

    margin-top: 50px;
    list-style: none;
    & li {
        font-family: 'Roboto', sans-serif;
        margin: 10px 0 0 15px;

        & a {
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
            text-decoration: none;
            transition: 0.3s;
            padding: 2px;
        }

        & a:hover{
            color: #151515;
            transition: 0.3s;
            background-color: #f0f0f0;
        }
    }
}

